.logo{
    width: 300px;
    display: block;
    height: 67px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    &_fixed{
        width: 232px;
        height: 52px;
    }
}