mixin advantage(image,text)
    .advantage
        .advantage__inner
            .advantage__image.lazy(data-src= image)
            .advantage__content
                
                .advantage__text= text