mixin work_preview()
    a(href="/").work-preview
        .work-preview__image.lazy(data-src="/assets/img/work_1.jpg")
        .work-preview__title Название публикации
        .work-preview__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque officiis, quas eius fuga aliquam harum, dolores facilis porro sapiente repudiandae repellendus expedita maxime corporis.