mixin action_preview(link)
    .action-preview
        .action-preview__inner
            .action-preview__image.lazy(data-src="/assets/img/work_1.jpg")
            .action-preview__content
                a(href="/").action-preview__title Название публикации
                .action-preview__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam nisi minima sint obcaecati necessitatibus ullam atque optio voluptatem recusandae quam debitis adipisci harum asperiores unde, assumenda blanditiis. Animi maxime laborum dignissimos recusandae, amet nam voluptatibus consequatur odit doloremque, atque rerum!
                if link
                    .action-preview__link
                        +button('Подробнее','button_blue','','/')