mixin table_1()
   

    .table
        .table__inner
                .table__row
                    .table__head Заголовок столбца
                    .table__head Заголовок столбца
                    .table__head Заголовок столбца
                .table__row
                    .table__item Текст ячейки
                    .table__item Текст ячейки
                    .table__item Текст ячейки
                .table__row
                    .table__item Текст ячейки
                    .table__item Текст ячейки
                    .table__item Текст ячейки
                .table__row
                    .table__item Текст ячейки
                    .table__item Текст ячейки
                    .table__item Текст ячейки
                .table__row
                    .table__item Текст ячейки
                    .table__item Текст ячейки
                    .table__item Текст ячейки
                    
                