mixin table_1()
   

    .table
        table
            tbody
                tr
                    th Заголовок столбца
                    th Заголовок столбца
                    th Заголовок столбца
                tr
                    td Текст ячейки
                    td Текст ячейки
                    td Текст ячейки
                tr
                    td Текст ячейки
                    td Текст ячейки
                    td Текст ячейки
                tr
                    td Текст ячейки
                    td Текст ячейки
                    td Текст ячейки
                tr
                    td Текст ячейки
                    td Текст ячейки
                    td Текст ячейки
                    
                