mixin table_calc()
   

    .table.table_calc
        table
         
            tbody
                
                tr
                    th(scope="col") Вид измерений
                    th(scope="col") Кол-во
                    th(scope="col") Ед.изм.
                    th(scope="col") Цена за ед.
                    th(scope="col") Стоимость
                tr
                    td Проверка наличия цепи между заземлителями и заземленными элементами (металлосвязь)
                    td
                        +calc_input()
                    td Точка
                    td 10
                    td 10
                tr
                    td Измерение сопротивления изоляции кабельных линий до 1000 В
                    td 
                        +calc_input()
                    td Линия
                    td 75
                    td 0.00
                tr
                    td Проверка согласования параметров цепи «фаза-нуль» с характеристиками аппаратов защиты
                    td
                        +calc_input()
                    td Токоприемник
                    td 75
                    td 0.00