mixin table()
   

    .table
        table
            tbody
                tr
                    th Название товара
                    th Параметр
                    th Цена
                tr
                    td Название товара 1
                    td Параметр 1
                    td Цена 1
                tr
                    td Название товара 2
                    td Параметр 2
                    td Цена 2
                tr
                    td Название товара 3
                    td Параметр 3
                    td Цена 3
                tr
                    td Название товара 4
                    td Параметр 4
                    td Цена 4