mixin table_calc_1()
   

    .table.table_calc
        table
         
            tbody
                
                tr
                    th Вид измерений
                    th Кол-во
                    th Ед.изм.
                    th Цена за ед.
                    th Стоимость
                tr
                    td Тепловизионное обследование контактных и болтовых соединений
                    td
                        +calc_input('0')
                    td Щит
                    td.calc__price 250
                    td.calc__row 0.00
                tr
                    td Разработка и печать однолинейных схем (с поиском и проверкой адресации потребителей)
                    td 
                        +calc_input('0')
                    td Автомат
                    td.calc__price 330
                    td.calc__row 0.00
                tr
                    td Разработка и печать однолинейных схем электроснабжения (без поиска и проверки адресации потребителей)
                    td
                        +calc_input('0')
                    td Автомат
                    td.calc__price 160
                    td.calc__row 0.00
                tr
                    td Анализ качества электроэнергии (1 ввод на сутки)
                    td
                        +calc_input('0')
                    td Сутки
                    td.calc__price 8000
                    td.calc__row 0.00