mixin table_1()
   

    //- .table
    //-     .table__inner
    //-             .table__row
    //-                 .table__head Заголовок столбца
    //-                 .table__head Заголовок столбца
    //-                 .table__head Заголовок столбца
    //-             .table__row
    //-                 .table__item Текст ячейки
    //-                 .table__item Текст ячейки
    //-                 .table__item Текст ячейки
    //-             .table__row
    //-                 .table__item Текст ячейки
    //-                 .table__item Текст ячейки
    //-                 .table__item Текст ячейки
    //-             .table__row
    //-                 .table__item Текст ячейки
    //-                 .table__item Текст ячейки
    //-                 .table__item Текст ячейки
    //-             .table__row
    //-                 .table__item Текст ячейки
    //-                 .table__item Текст ячейки
    //-                 .table__item Текст ячейки
                    
                
    .table
        table
            tbody
                tr
                    th Название товара
                    th Характеристики
                    th Цена
                tr
                    td товар 1
                    td очень длинный
                    td 100 р.
                tr
                    td товар 2
                    td очень короткий
                    td 200 р.
                tr
                    td товар 3
                    td средней прожарки
                    td 300 р.
                tr
                    td спец-предложение
                    td уникальный
                    td 1000 р.
                    
                