.address {
    font-weight: normal;
    .rem(14);
    max-width: 200px;
    color: @bk;
    
    &_contacts{
        .rem(16);
        line-height: 24px;
        color: @bk;
    }

    &_footer{
        color: @grey;
        .rem(12);
        &:focus,&:hover,&:active{
            color: @grey;
        }
        min-height: 24px;
        background-repeat: no-repeat;
        background-position: 0 0;
       
        padding: 0 0 0 30px;
    }
}