.address {
    font-weight: normal;
    .rem(14);
    max-width: 200px;
    color: @bk;
    line-height: 19px;
    margin-top: -5px;

    @media @1024,@768{
        max-width: 167px;
    }
    @media @768{
        .rem(12);
    }
    @media @320{
        width: 50%;
        
    }
    
    &_contacts{
        .rem(16);
        line-height: 24px;
        color: @bk;
        line-height: normal;
        margin-top: 0;
        @media @320{
            .rem(16);
            width: 100%;
        }
    }

    &_footer{
        color: @grey;
        line-height: normal;
        margin-top: 0;
        .rem(12);
        min-height: 24px;
        background-repeat: no-repeat;
        background-position: 0 0;
        padding: 0 0 0 30px;
        display: flex;
        align-items: center;

        &:focus,&:hover,&:active{
            color: @grey;
        }

        @media @320{
            margin-bottom: 18px;
        }
    }
}