.phone{
    .rem(22);
    font-weight: 500;
    color: @bk;

    @media @320{
        .rem(20);
    }
    @media @300{
        .rem(16);
    }

    &:hover,&:active,&:focus{
        color: @red;
    }

    &_contacts{
        .rem(16);
        font-weight: normal;
        display: block;
        padding: 0 0 4px 0;
        @media @320{
            .rem(16);
        }
    }
    &_footer{
        color: @grey;
        .rem(12);
        display: flex;
        align-items: center;
        &:focus,&:hover,&:active{
            color: @grey;
        }
        min-height: 24px;
        background-repeat: no-repeat;
        background-position: 3px 0;
       
        padding: 0 0 0 30px;

        @media @320{
            .rem(12);
            margin-bottom: 6px;
        }
        
    }
    &_offer{
        color: @wt;
        text-align: center;
        padding: 20px 0 30px;
        &:hover,&:active,&:focus{
            color: @wt;
        }
    }
}