mixin pagination()
    .pagination
        .pagination__arrow.pagination__arrow_left.lazy(data-src="/assets/img/arrow_pagination.svg")
        .pagination__number.pagination__number_active 1
        .pagination__number 2
        .pagination__number 3
        .pagination__number 4
        .pagination__number 5
        .pagination__arrow.pagination__arrow_right.lazy(data-src="/assets/img/arrow_pagination.svg")