mixin questions()
    .questions
        .questions__title Название блока вопросов
        .questions__box
            .questions__item Вопрос 1
            .questions__answer Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos aliquid animi ex ad amet, repellendus rerum, ipsam odio, ducimus ullam totam odit ratione corrupti.
        
            .questions__item Вопрос 2
            .questions__answer Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos aliquid animi ex ad amet, repellendus rerum, ipsam odio, ducimus ullam totam odit ratione corrupti.
        
            .questions__item Вопрос 3
            .questions__answer Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos aliquid animi ex ad amet, repellendus rerum, ipsam odio, ducimus ullam totam odit ratione corrupti.
        
            .questions__item Вопрос 4
            .questions__answer Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos aliquid animi ex ad amet, repellendus rerum, ipsam odio, ducimus ullam totam odit ratione corrupti.
        