mixin slider_1()
    .slider.slider_sert
        .slider__box.slider__box_sert
            +sert()
            +sert()
            +sert()
            +sert()
            +sert()
            
    
        .slider__arrows.slider__arrows_sert