mixin slider_1()
    .slider.slider_sert
        .slider__box.slider__box_sert
            +sert('','group_sert','/assets/img/sert_1.png')
            +sert('','group_sert','/assets/img/sert_1.png')
            +sert('','group_sert','/assets/img/sert_1.png')
            +sert('','group_sert','/assets/img/sert_1.png')
            +sert('','group_sert','/assets/img/sert_1.png')
            
    
        .slider__arrows.slider__arrows_sert