mixin slider_2()
    .slider.slider_lic
        .slider__box.slider__box_lic
            +sert('','group_lic')
            +sert('','group_lic')
            +sert('','group_lic')
            +sert('','group_lic')
            +sert('','group_lic')
            
    
        .slider__arrows.slider__arrows_lic