mixin slider_5()
    .slider.slider_work
        .slider__box.slider__box_work
            +work_preview()
            +work_preview()
            +work_preview()
            +work_preview()
            +work_preview()
            
    
        .slider__arrows.slider__arrows_work