mixin slider_0()
    .slider.slider_main
        .slider__item.lazy(data-src="/assets/img/main_slide.jpg")
            .slider__title
        .slider__item.lazy(data-src="/assets/img/main_slide.jpg")
            .slider__title
        .slider__item.lazy(data-src="/assets/img/main_slide.jpg")
            .slider__title
            