mixin slider_3()
    .slider.slider_rev
        .slider__box.slider__box_rev
            +sert('','group_rev')
            +sert('','group_rev')
            +sert('','group_rev')
            +sert('','group_rev')
            +sert('','group_rev')
            
    
        .slider__arrows.slider__arrows_rev