mixin slider_3()
    .slider.slider_rev
        .slider__box.slider__box_rev
            +sert('','group_rev','/assets/img/sert_3.png')
            +sert('','group_rev','/assets/img/sert_3.png')
            +sert('','group_rev','/assets/img/sert_3.png')
            +sert('','group_rev','/assets/img/sert_3.png')
            +sert('','group_rev','/assets/img/sert_3.png')
            
    
        .slider__arrows.slider__arrows_rev