mixin slider_0()
    .slider.slider_main
        .slider__item.lazy(data-src="/assets/img/main_slide.jpg")
            .slider__inner
                .slider__title Проектируем и устанавливаем электросети за 1,5 месяца
                .slider__subtitle для офисов и загородных домов 
        //- .slider__item.lazy(data-src="/assets/img/main_slide.jpg")
        //-     .slider__inner
        //-         .slider__title Проектируем и устанавливаем электросети за 1,5 месяца
        //-         .slider__subtitle для офисов и загородных домов
        //- .slider__item.lazy(data-src="/assets/img/main_slide.jpg")
        //-     .slider__inner
        //-         .slider__title Проектируем и устанавливаем электросети за 1,5 месяца
        //-         .slider__subtitle для офисов и загородных домов
            