mixin slider_2()
    .slider.slider_lic
        .slider__box.slider__box_lic
            +sert('','group_lic','/assets/img/sert_2.png')
            +sert('','group_lic','/assets/img/sert_2.png')
            +sert('','group_lic','/assets/img/sert_2.png')
            +sert('','group_lic','/assets/img/sert_2.png')
            +sert('','group_lic','/assets/img/sert_2.png')
            
    
        .slider__arrows.slider__arrows_lic