mixin slider_7()
    .slider.slider_docs
        .slider__box.slider__box_docs
            +sert('sert_docs')
            +sert('sert_docs')
            +sert('sert_docs')
            +sert('sert_docs')
            +sert('sert_docs')
            +sert('sert_docs')
            +sert('sert_docs')
            
    
        .slider__arrows.slider__arrows_docs