mixin slider_1()
    .slider.slider_sert
        .slider__box.slider__box_sert
            +sert('','group_sert')
            +sert('','group_sert')
            +sert('','group_sert')
            +sert('','group_sert')
            +sert('','group_sert')
            
    
        .slider__arrows.slider__arrows_sert