mixin slider_6()
    .slider.slider_office
        .slider__box.slider__box_office
            +foto()
            +foto()
            +foto()
            +foto()
            +foto()
            
    
        .slider__arrows.slider__arrows_office