mixin slider_2()
    .slider.slider_lic
        .slider__box.slider__box_lic
            +sert()
            +sert()
            +sert()
            +sert()
            +sert()
            
    
        .slider__arrows.slider__arrows_lic