mixin slider_4()
    .slider.slider_team
        .slider__box.slider__box_team
            +worker()
            +worker()
            +worker()
            +worker()
            +worker()
            
    
        .slider__arrows.slider__arrows_team