// font color 
@wt: #ffffff;
@bk: #22262D;

@red: #FF5900;
@bl: #1047D6;
@bl1: #406CDE;
@bl2: #4F7CF0;


@grey: #9EABBE;
@grey_1: #CBD2DD;

@bg: #F1F3F8;

@text: rgba(34, 38, 45, 0.8);

@consent: rgba(255, 255, 255, 0.5);

@copyright:#5D6779;

@box:  20px 20px 30px #BCC6DF;
@box_fixed: 0px 10px 50px #C0C7D8;

@button: 0px 10px 20px rgba(249, 133, 0, 0.3);
@button_h: 0px 10px 30px rgba(249, 133, 0, 0.5);
@button_a: inset 3px 3px 10px rgba(249, 133, 0, 0.5);

@button_c: linear-gradient(to right, #ff5900, #ff5900, #ff5900, #ff5900, #ff5900);
@button_hover: linear-gradient(86.47deg, #FA9600 1.2%, #FFB21E 99.3%);
@button_active: linear-gradient(86.47deg, #FA9600 1.2%, #FFB21E 99.3%);

@button_1_active: #2E62EA;

@button_2_active: #FF8718;

@button_3: #30363F;
@button_3_hover: #404651;
@button_3_active: #2B3039;

