extends ../layout/main




block variables
    -var title = 'about'
    -var description = 'about'
    

block content
    +bread()
    section.section.section_wrapper
        .section__inner.section__inner_wrapper
            +sidebar('team')
            section.section.section_content
                +title('О нас','title_page')
                .section__box
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam repudiandae nesciunt quos optio deleniti ullam expedita maxime alias fugit cupiditate obcaecati natus delectus veritatis earum inventore quaerat beatae, officiis quo, ducimus provident, excepturi ut eaque. Ex molestias ipsam obcaecati soluta hic earum architecto vero excepturi, autem enim natus! Dolore laudantium quibusdam laborum ut debitis, odio repellendus veritatis. Cumque vel aspernatur odit deserunt alias molestias ut praesentium, veritatis a placeat non iure, ex tempora id neque nisi delectus saepe, et voluptatibus minus. Numquam fugiat explicabo optio assumenda cumque sunt quibusdam sit!

                .section__box.section__box_services.section__box_text
                    +preview('/assets/img/team_1.jpg','Команда')
                    +preview('/assets/img/team_2.jpg','Оборудование')
                    +preview('/assets/img/team_3.jpg','Вопросы-ответы')
                    +preview('/assets/img/team_4.jpg','Выполненные работы')
                    +preview('/assets/img/team_5.jpg','Документация')
                    +preview('/assets/img/team_6.jpg','Лицензии')
                    
                .section__box
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt quos officiis maiores. Architecto quasi eum molestias animi magnam sint amet, quae maiores excepturi! Repellendus quo laboriosam odit, fugit neque qui porro eos laborum harum, illum tempore. Dolorem dolorum non veritatis libero voluptate itaque deleniti dolores eligendi quisquam vitae, nihil cupiditate labore quis sunt maiores voluptates quae laudantium reprehenderit magni vel ratione a! Laborum architecto vero necessitatibus voluptatum dignissimos enim excepturi itaque tempora iure eveniet debitis quo eos, blanditiis inventore adipisci, ducimus nostrum quas laudantium omnis. Reprehenderit et pariatur enim ullam?

    +section_10()
    +section_7()