extends ../layout/main




block variables
    -var title = 'actions'
    -var description = 'actions'
    

block content
    +bread()
    section.section.section_wrapper
        .section__inner.section__inner_wrapper
            +sidebar()
            section.section.section_content
                +title('Акции','title_page')
                .section__box
                    +action_preview()
                    +action_preview()
                    +action_preview()
                    +action_preview()
                    +action_preview()
                    +pagination()
        .section__inner.section__inner_single
            +feedback()