extends ../layout/main




block variables
    -var title = 'articles'
    -var description = 'articles'
    

block content
    +bread()
    section.section.section_wrapper
        .section__inner.section__inner_wrapper
            
            section.section.section_content
                +title('Статьи','title_page')
                .section__box
                    +action_preview('link')
                    +action_preview('link')
                    +action_preview('link')
                    +action_preview('link')
                    +action_preview('link')
                    +pagination()
        .section__inner.section__inner_single
            +feedback()
    