extends ../layout/main




block variables
    -var title = 'articles_item'
    -var description = 'articles_item'
    

block content
    +bread()
    section.section.section_wrapper
        .section__inner.section__inner_wrapper
            
            section.section.section_content
                +title('Заголовок публикации','title_page')
                .section__box.section__box_publication
                    img(src="/assets/img/work_1.jpg", alt="")
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores fugiat possimus vel similique sint dignissimos dolore obcaecati consequuntur porro! Similique maxime nulla ipsam laudantium nam, beatae sint veniam laboriosam rerum magni fugit expedita, minus explicabo enim aliquam a officia doloribus vero! Vero blanditiis odit a error impedit enim voluptates! Aspernatur deserunt harum esse a perferendis itaque quas aliquam officiis ex velit nam, ab voluptatem vel iusto sunt. Nostrum, magnam! Beatae incidunt excepturi modi id odit repudiandae quisquam harum minima, accusamus doloribus blanditiis. Exercitationem ipsum, beatae dolor totam ducimus, nisi in quaerat recusandae, at nostrum incidunt dolore ab. Dignissimos, neque inventore!
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus tempore, iusto nam cum optio assumenda ipsam non quos vel laborum sapiente id corrupti. Rem debitis odio deserunt illo, doloribus sapiente molestiae, consequuntur voluptatum velit quo pariatur, ullam facilis modi maiores! Sed molestiae perferendis enim alias fuga quo dolore quam fugiat exercitationem beatae ducimus sint aspernatur sequi non cum amet adipisci a, consequuntur velit nisi? Adipisci obcaecati dolorem hic cumque similique a, ut dolor ratione modi maiores pariatur tempore, natus vitae officiis dolore praesentium vel dicta! Esse nobis consectetur, delectus voluptatem magnam minus placeat, libero eveniet eligendi reprehenderit reiciendis eum rem adipisci non molestiae illum doloremque saepe corporis! Impedit, nemo! In rerum sit dolorum et minima facilis temporibus, alias porro eligendi, praesentium, error quod exercitationem accusantium inventore corporis. A, ut! Consectetur enim ab omnis corporis doloremque magnam explicabo molestiae exercitationem praesentium laboriosam commodi harum sed quibusdam totam, facilis soluta ullam eos assumenda. Blanditiis omnis assumenda possimus ipsam ratione hic ducimus, repudiandae, placeat commodi sed sapiente corrupti, quo eos maiores distinctio consequatur rerum culpa tempora esse veritatis minima eaque fugit autem. Consequuntur dolore ipsa delectus in illo atque consequatur quasi aperiam praesentium harum quidem fuga saepe asperiores voluptas eum, officiis beatae nam!
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo expedita sunt vel eligendi rerum, dignissimos odio autem tenetur placeat veniam, aliquam id voluptatem libero voluptatum velit facere vero minus? Distinctio officia recusandae quos. Odit quibusdam dolorum esse nulla accusantium enim exercitationem a saepe, nobis officia voluptate obcaecati ad iusto sed architecto ut tenetur sit. Pariatur enim repudiandae, ut adipisci provident voluptatum distinctio cumque suscipit harum, fuga expedita nemo aliquam nostrum quidem a sint dolores asperiores! Obcaecati doloremque ipsa dolorem? Minus quod ipsam accusantium veniam earum temporibus deleniti, doloremque, atque expedita, ad id tempora nulla et quaerat inventore ipsa vitae ut?

                    h2 Заголовок в тексте
                
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus reprehenderit numquam ea unde culpa commodi vel! Fugiat tenetur aperiam amet! Nam a officiis ratione quas laboriosam rerum, quia numquam asperiores ullam nesciunt voluptate incidunt cupiditate natus ex exercitationem possimus sed, praesentium molestias repudiandae alias deserunt cum? Facere adipisci iusto optio aperiam non, minus a quod est suscipit nobis perferendis error consectetur minima ipsa earum impedit explicabo atque autem tempora deserunt eum accusamus mollitia quidem totam? Molestias fugit architecto nobis. Omnis minus veritatis tempora expedita iusto nostrum, culpa optio asperiores iure officiis facere possimus sapiente aut aliquam necessitatibus, tenetur beatae similique!

                    ul
                        li Пункт маркированного списка
                        li Пункт маркированного списка
                        li Пункт маркированного списка
                        li Пункт маркированного списка
                    
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora magnam, qui assumenda esse voluptatem deleniti atque animi quis dicta maiores a asperiores, fuga voluptas ipsam. Obcaecati vel ad id qui totam magnam laboriosam distinctio cum modi recusandae voluptate commodi ab doloremque, itaque non nihil nostrum eligendi fugit numquam eos similique doloribus cumque nesciunt maiores! Nobis non, sapiente distinctio ducimus facilis, in aut dignissimos numquam quia vero nostrum quisquam tempora maxime quis blanditiis! Nulla magni error iure? Soluta temporibus tempora aut ipsam, eaque praesentium impedit velit ipsa? Veniam sapiente velit repudiandae illum quibusdam doloremque beatae sed quos, reprehenderit architecto numquam consequatur?

                    ol
                        li Пункт нумерованного списка
                        li Пункт нумерованного списка
                        li Пункт нумерованного списка
                        li Пункт нумерованного списка
                    
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus quos deserunt aspernatur inventore iusto, temporibus quas voluptate praesentium veritatis quo illum tempore voluptatum nisi. Sint hic vitae maxime sapiente? Illum, aliquid placeat mollitia aliquam tempore iusto odio rem ad cumque saepe optio nisi ipsum error nostrum magni exercitationem perferendis hic! Eaque distinctio perferendis, a accusantium fuga vitae error autem culpa maiores beatae laudantium quae voluptatem aliquid tempore voluptatum? Eveniet doloribus ea rerum quo. Iste, ea sit doloremque commodi soluta, voluptatem eius impedit, quibusdam praesentium consectetur ab laboriosam tempora quas. Nihil qui eligendi laboriosam sint quam sit fugiat distinctio temporibus odio.

                    blockquote Наверное это цитата. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis eos assumenda impedit, dolorum praesentium voluptatum ipsum sequi inventore laudantium, optio quas odio. Vero incidunt atque debitis voluptas fugit, rem inventore pariatur dignissimos natus fugiat officiis itaque soluta nobis iste expedita! Ipsam, rerum veritatis. Adipisci perferendis voluptatem vero totam expedita blanditiis!

                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero illo deserunt iusto eligendi corrupti quos ipsam deleniti nam exercitationem nemo soluta quidem eos excepturi veritatis fuga distinctio fugiat, consequatur mollitia doloribus, aut earum temporibus sequi. Vitae, minima necessitatibus eligendi, dolore quia optio suscipit modi esse sunt harum pariatur tenetur molestias asperiores officiis dicta velit quae aut. Cum fugit laudantium odio quam, cupiditate dignissimos corrupti at non vitae natus magni officia est suscipit quisquam alias ratione ducimus quibusdam. Temporibus provident nostrum officia perferendis sit hic incidunt. Ea dignissimos sint maiores vitae dolor aspernatur a in id expedita! Maxime porro assumenda accusantium?
                
                    +table_1()
                
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam laboriosam quam, commodi earum quas modi nam voluptate molestias sunt deleniti odit vero, magni laudantium animi sit laborum cum dolor! Id quod cupiditate amet error praesentium dolorem consequatur provident, quis laborum labore explicabo veritatis dolores esse necessitatibus, numquam libero ipsam quas quibusdam a inventore beatae reiciendis deleniti! Repellendus voluptates deleniti aliquid. Quisquam possimus nam architecto, iusto inventore mollitia tempora facilis dicta optio nobis voluptates officia at nulla eligendi nisi saepe vel a sunt explicabo modi libero esse beatae. Cupiditate vero hic magnam vitae quasi, necessitatibus, exercitationem non porro quos temporibus labore.

                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam distinctio in quisquam atque rerum reiciendis non ab a repudiandae modi aliquam nesciunt tempora cum, architecto, rem cumque quibusdam possimus nobis saepe labore est harum fugiat? Similique pariatur magni error sequi fuga eveniet in beatae quos ea, dolore molestias. Doloribus nam quis vero ratione vitae quam harum at corporis pariatur, deleniti totam reiciendis nemo nostrum hic dignissimos fugiat repellat cumque officia nihil! Optio dolor debitis illo maiores voluptatem est magnam quae distinctio? Eveniet dolor laborum aspernatur necessitatibus corrupti aperiam facilis at, placeat incidunt molestiae. Enim nobis at quaerat corporis vel praesentium!
                
                    +calc_button()
                
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis ratione reprehenderit similique hic, consectetur dolorum iusto minus quo at vitae? Ab ut in totam animi asperiores eveniet nihil consectetur, quo alias perferendis dolorem atque laudantium, nemo quae quod eligendi voluptatum laborum veniam deleniti soluta pariatur odio adipisci distinctio nulla. Odio animi, veniam at necessitatibus assumenda minus. Et nesciunt, asperiores odit laboriosam quaerat ipsa itaque molestias ut veritatis aliquam saepe assumenda? Veniam aliquam pariatur incidunt deleniti eius ipsam mollitia, aspernatur hic accusamus vitae, amet maiores animi. Cupiditate vitae eaque sint, quo totam placeat aperiam minus officiis pariatur, magnam rerum ratione corrupti!
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod deserunt dolor suscipit architecto quas porro molestiae fugit, delectus rem, amet nesciunt illum itaque adipisci obcaecati earum laboriosam commodi provident natus! Quisquam nostrum recusandae sunt unde ipsam repudiandae reprehenderit, quasi rerum magni praesentium itaque optio tempora in magnam autem dolor nulla. Quas iusto error saepe nam? Saepe itaque vel sit dicta temporibus? Eaque fugit quo blanditiis adipisci aliquam eos maxime, dolore error aspernatur quod expedita magnam culpa. Perferendis consectetur voluptate veniam, rerum repellat sed. Illum iusto vel incidunt deserunt eum ullam consequatur temporibus, sunt nostrum ex ipsum, beatae, deleniti rem adipisci?
                
                    +feedback_1()
                    

    