extends ../layout/main




block variables
    -var title = 'calculator'
    -var description = 'calculator'
    -var pageClass = ''

block content

    section.section
        .section__inner
            +title('Расчет стоимости работ','title_page')
            +offer()
            +calc()
            +feedback_offer()