extends ../layout/main




block variables
    -var title = 'contacts'
    -var description = 'contacts'
    

block content
    +bread()
    section.section.section_wrapper
        .section__inner.section__inner_wrapper
            +sidebar('','graf','sidebar_map')
            section.section.section_map
                +map('contacts')

        .section__inner.section__inner_single
            +feedback()       
        .section__inner.section__inner_single
            +subtitle('Фото офиса')
            +slider_6()
        .section__inner.section__inner_single
            .section__box
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde et assumenda quod culpa sunt. Soluta, quo. Perspiciatis similique nam amet unde aliquid, dignissimos consectetur consequatur ipsum quas, deserunt quos! Earum aperiam id dolore maxime aliquam eos vitae, eveniet quisquam provident suscipit exercitationem corrupti ipsa incidunt mollitia necessitatibus animi aut impedit quas nobis ab voluptates adipisci. Enim unde odit cumque nobis iure optio ad illo modi, numquam consequatur, non a voluptatum quibusdam. Cupiditate rem eum fugit nisi, natus et dignissimos! Necessitatibus quia omnis fugiat ab aperiam recusandae ipsam cupiditate suscipit, minima voluptatem voluptas et ipsum repellendus fuga, nulla odit impedit! Ipsum.
