extends ../layout/main




block variables
    -var title = 'complete_work_item'
    -var description = 'complete_work_item'
    

block content
    +bread()
    section.section.section_wrapper
        .section__inner.section__inner_wrapper
            +sidebar('team','')
            section.section.section_content
                +title('Заголовок выполненной работы','title_page')
                .section__box.section__box_content
                    img(src="/assets/img/work_1.jpg", alt="")
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores fugiat possimus vel similique sint dignissimos dolore obcaecati consequuntur porro! Similique maxime nulla ipsam laudantium nam, beatae sint veniam laboriosam rerum magni fugit expedita, minus explicabo enim aliquam a officia doloribus vero! Vero blanditiis odit a error impedit enim voluptates! Aspernatur deserunt harum esse a perferendis itaque quas aliquam officiis ex velit nam, ab voluptatem vel iusto sunt. Nostrum, magnam! Beatae incidunt excepturi modi id odit repudiandae quisquam harum minima, accusamus doloribus blanditiis. Exercitationem ipsum, beatae dolor totam ducimus, nisi in quaerat recusandae, at nostrum incidunt dolore ab. Dignissimos, neque inventore!
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo expedita sunt vel eligendi rerum, dignissimos odio autem tenetur placeat veniam, aliquam id voluptatem libero voluptatum velit facere vero minus? Distinctio officia recusandae quos. Odit quibusdam dolorum esse nulla accusantium enim exercitationem a saepe, nobis officia voluptate obcaecati ad iusto sed architecto ut tenetur sit. Pariatur enim repudiandae, ut adipisci provident voluptatum distinctio cumque suscipit harum, fuga expedita nemo aliquam nostrum quidem a sint dolores asperiores! Obcaecati doloremque ipsa dolorem? Minus quod ipsam accusantium veniam earum temporibus deleniti, doloremque, atque expedita, ad id tempora nulla et quaerat inventore ipsa vitae ut?
        .section__inner.section__inner_single 
            +subtitle('Команда, которая это выполнила')
            +slider_4()
        
        .section__inner.section__inner_single 
            +feedback()
    