extends ../layout/main




block variables
    -var title = 'index'
    -var description = 'index'
    -var pageClass = 'index'

block content
    +nav()
    +section_0()
    +section_1()
    +section_2()
    +section_3()
    +section_4()
    +section_5()
    +section_6()