extends ../layout/main




block variables
    -var title = 'questions'
    -var description = 'questions'
    

block content
    +bread()
    section.section.section_wrapper
        .section__inner.section__inner_wrapper
            +sidebar('team')
            section.section.section_content
                +title('Вопросы-ответы','title_page')
                .section__box.section__box_questions
                    +questions()
                    +questions()
                    +questions()
                    +questions()
        .section__inner.section__inner_single
            +feedback()
    