//- extends ../layout/main




//- block variables
//-     -var title = 'reviews'
//-     -var description = 'reviews'
    

//- block content
//-     +bread()
//-     section.section.section_wrapper
//-         .section__inner.section__inner_wrapper
            
//-             section.section.section_content
//-                 +subtitle('Отзывы','title_page')
//-                 .section__box.section__box_sert
//-                     +sert('sert_page')
//-                     +sert('sert_page')
//-                     +sert('sert_page')
//-                     +sert('sert_page')
//-                     +sert('sert_page')
//-                     +sert('sert_page')
//-                     +sert('sert_page')
//-                     +sert('sert_page')
//-                     +sert('sert_page')
//-                     +sert('sert_page')
//-                     .section__pagenav
//-                         +button('Загрузить еще','button_red')
//-                 .section__box
//-                     p Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero mollitia adipisci recusandae ea excepturi ipsa. Tempore ipsum aspernatur rem laborum sed commodi ut saepe pariatur, quo in obcaecati earum necessitatibus quae dignissimos dolorum recusandae culpa veniam modi consequatur eos quaerat dolore suscipit? Asperiores rem laborum maiores sunt magnam totam sequi consequatur natus libero voluptatibus corrupti ipsum, earum, ipsam deserunt nulla quia aperiam ullam consequuntur fugit reprehenderit! Sunt laborum dolores autem, deserunt, suscipit, iste perspiciatis id eius necessitatibus cupiditate incidunt laboriosam. Totam tempore quasi necessitatibus ipsa praesentium. Officiis, harum aperiam perferendis similique reiciendis incidunt. Quaerat, cupiditate laudantium. Officiis consectetur enim impedit.
//-                 +subtitle('Сетрификаты','title_page')
//-                 .section__box.section__box_sert
//-                     +sert('sert_page')
//-                     +sert('sert_page')
//-                     +sert('sert_page')
//-                     +sert('sert_page')
//-                     +sert('sert_page')
//-                     +sert('sert_page')
//-                     +sert('sert_page')
//-                     +sert('sert_page')
//-                     +sert('sert_page')
//-                     +sert('sert_page')
//-                     .section__pagenav
//-                         +button('Загрузить еще','button_red')
//-                 .section__box
//-                     p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime iste deleniti, odit, earum voluptates deserunt vel natus expedita magnam dolorem, sapiente provident vero sit corrupti inventore labore iusto in suscipit nisi! Nisi, sunt labore quae voluptates autem, dignissimos repellat corporis minima accusantium in quibusdam officia alias a ullam accusamus distinctio ea laudantium voluptas molestiae aliquam placeat dolorem. Repellat totam animi, et, illo nisi placeat est, deserunt corrupti accusamus doloribus odit molestiae corporis quis perferendis quaerat quam? Omnis, debitis. Nihil voluptates praesentium reiciendis aliquam dolorum saepe, exercitationem atque omnis nulla voluptatum quas. Esse inventore ipsam nulla doloremque doloribus temporibus quibusdam atque.
                

//-         .section__inner.section__inner_single
//-             +feedback()
    