extends ../layout/main




//- block variables
//-     -var title = 'services'
//-     -var description = 'services'
    

//- block content
//-     +bread()
//-     section.section.section_wrapper
//-         .section__inner.section__inner_wrapper
//-             +sidebar()
//-             section.section.section_content
//-                 +title('Услуги электроизмерительной лаборатории','title_page')
//-                 .section__box
//-                     p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere modi ipsum distinctio iure placeat eligendi praesentium earum quis, voluptas excepturi repellat dolorem ipsam sunt suscipit nulla eum, cumque quibusdam quia in minima consequatur repudiandae! Ex porro nemo quod quia quis sequi mollitia numquam nulla quaerat sunt. Quos quasi cum in libero distinctio repellat nulla expedita culpa eos, veniam perspiciatis, voluptate magni praesentium tenetur dolores, at et voluptatem? Laboriosam consequatur dolore ad, non neque, aliquid amet accusantium ab inventore iste ea tenetur fugit quibusdam reprehenderit rem saepe quae officiis qui cum, explicabo dignissimos beatae. Inventore tempore sed fugiat qui assumenda unde.
//-                     p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, culpa quibusdam ratione quam dignissimos, accusamus porro amet eum odit excepturi et soluta voluptates, autem repudiandae perferendis corrupti nam veritatis minima delectus pariatur eaque laudantium. Sequi id nobis earum praesentium quidem voluptas ullam, totam alias maiores blanditiis, eius quia, ipsum ex impedit autem dolores accusantium corrupti. Quod, dolorem voluptatibus reprehenderit neque iste, dicta impedit harum magnam vitae placeat corporis repudiandae ipsum eaque fuga quia. Esse, rem iure doloribus saepe sit pariatur. Obcaecati possimus vel id, corporis quasi asperiores quisquam doloremque repudiandae consequatur quis accusamus nemo, expedita cupiditate, natus exercitationem dolorem libero!
//-                 .section__box.section__box_services.section__box_text
//-                     +preview('/assets/img/service_1.jpg','Услуги электроизмерительной лаборатории')
//-                     +preview('/assets/img/service_2.jpg','Услуги электроизмерительной лаборатории')
//-                     +preview('/assets/img/service_3.jpg','Услуги электроизмерительной лаборатории')
//-                     +preview('/assets/img/service_4.jpg','Услуги электроизмерительной лаборатории')
//-                     +preview('/assets/img/service_5.jpg','Услуги электроизмерительной лаборатории')
//-                     +preview('/assets/img/service_6.jpg','Услуги электроизмерительной лаборатории')
//-                 .section__box
//-                     p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere modi ipsum distinctio iure placeat eligendi praesentium earum quis, voluptas excepturi repellat dolorem ipsam sunt suscipit nulla eum, cumque quibusdam quia in minima consequatur repudiandae! Ex porro nemo quod quia quis sequi mollitia numquam nulla quaerat sunt. Quos quasi cum in libero distinctio repellat nulla expedita culpa eos, veniam perspiciatis, voluptate magni praesentium tenetur dolores, at et voluptatem? Laboriosam consequatur dolore ad, non neque, aliquid amet accusantium ab inventore iste ea tenetur fugit quibusdam reprehenderit rem saepe quae officiis qui cum, explicabo dignissimos beatae. Inventore tempore sed fugiat qui assumenda unde.
//-                     p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, culpa quibusdam ratione quam dignissimos, accusamus porro amet eum odit excepturi et soluta voluptates, autem repudiandae perferendis corrupti nam veritatis minima delectus pariatur eaque laudantium. Sequi id nobis earum praesentium quidem voluptas ullam, totam alias maiores blanditiis, eius quia, ipsum ex impedit autem dolores accusantium corrupti. Quod, dolorem voluptatibus reprehenderit neque iste, dicta impedit harum magnam vitae placeat corporis repudiandae ipsum eaque fuga quia. Esse, rem iure doloribus saepe sit pariatur. Obcaecati possimus vel id, corporis quasi asperiores quisquam doloremque repudiandae consequatur quis accusamus nemo, expedita cupiditate, natus exercitationem dolorem libero!
                
//-     +section_9()
//-     //- +section_1()
//-     //- +section_2()
//-     //- +section_3()
//-     //- +section_4()
//-     //- +section_5()
//-     //- +section_6()
//-     +section_7()
//-     //- +section_8()