//- extends ../layout/main




//- block variables
//-     -var title = 'team_item'
//-     -var description = 'team_item'
    

//- block content
//-     +bread()
//-     section.section.section_wrapper
//-         .section__inner.section__inner_wrapper
//-             +sidebar('team')
//-             section.section.section_content
//-                 +title('Константинопольский Александр Владимирович','title_page')
//-                 .section__box
//-                     +worker('worker_single','page')
//-                     .worker__exp Стаж: <span>10 лет</span>
//-                     .worker__edu Образование: <span>Государственный университет</span>
//-                     p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores fugiat possimus vel similique sint dignissimos dolore obcaecati consequuntur porro! Similique maxime nulla ipsam laudantium nam, beatae sint veniam laboriosam rerum magni fugit expedita, minus explicabo enim aliquam a officia doloribus vero! Vero blanditiis odit a error impedit enim voluptates! Aspernatur deserunt harum esse a perferendis itaque quas aliquam officiis ex velit nam, ab voluptatem vel iusto sunt. Nostrum, magnam! Beatae incidunt excepturi modi id odit repudiandae quisquam harum minima, accusamus doloribus blanditiis. Exercitationem ipsum, beatae dolor totam ducimus, nisi in quaerat recusandae, at nostrum incidunt dolore ab. Dignissimos, neque inventore!
//-                     p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora assumenda facere facilis. Maxime fuga neque, error nisi nulla perspiciatis, atque modi consectetur ullam labore quae facere tempora voluptatum voluptatibus odio consequuntur recusandae ab. Veritatis consectetur dolorem quia corrupti blanditiis magni, quas delectus illo ipsum deleniti aspernatur vitae voluptatibus, dolore neque.
//-     +section_11()
    
    
//-     +section_7()
    