mixin bread()

    .breadcrumbs
        .breadcrumbs__inner

            a.breadcrumbs__link.lazy(href="/" data-src="/assets/img/delimiter.svg") Главная
            a.breadcrumbs__link.lazy(href="/" data-src="/assets/img/delimiter.svg") Услуги
            .breadcrumbs__item Внутренняя страница