mixin section_3()
    section.section.section_steps
        .section__inner.section__inner_steps
            +subtitle('Этапы работ')
            .section__box.section__box_steps
                +step('/assets/img/step_1.svg','01.','Заявка')
                +step('/assets/img/step_2.svg','02.','Оценка')
                +step('/assets/img/step_3.svg','03.','Договор')
                +step('/assets/img/step_4.svg','04.','Электроизмерения')
                +step('/assets/img/step_5.svg','05.','Подготовка отчета')