mixin section_5()
    section.section.section_advantages.lazy(data-src="/assets/img/advantages.png")
        .section__inner.section__inner_advantages
            +subtitle('Наши преимущества','subtitle_white')
            .section__box.section__box_advantages
                +advantage('/assets/img/advantage_1.svg','Гарантия')
                +advantage('/assets/img/advantage_2.svg','Выезд на следующий день')
                +advantage('/assets/img/advantage_3.svg','Рассчитаем смету за 20 минут')
                +advantage('/assets/img/advantage_4.svg','Консультируем бесплатно')
                +advantage('/assets/img/advantage_5.svg','Готовим отчет за 2 дня')
                +advantage('/assets/img/advantage_5.svg','Напоминаем о проверках')