mixin section_4()
    section.section
        .section__inner.section__inner_tabs
            +tabs()
            .section__tab#sert
                +slider_1()
            .section__tab#lic.section__tab_active
                +slider_2()
            .section__tab#rev
                +slider_3()