.section {
    width: 100%;

    &_main {
        position: relative;

    }
    &_services{
        background-color: @bg;
    }

    &__inner {
        width: 100%;
        max-width: 1170px;
        margin: 0 auto;
        padding: 0;

        &_main {
            max-width: 100%;

            position: absolute;
            width: 100%;
            top: 130px;
            left: 0;
           

        }

        &_tabs{
            position: relative;
        }
        

    }

    &__box{
        width: 100%;
        &_services{
            display: flex;
            flex-flow: wrap;
            justify-content: space-between;
        }
        &_main{
            width: 100%;
            max-width: 1170px;
            height: 0;
            display: flex;
            flex-flow: wrap;
            justify-content: flex-end;
            align-items: flex-end;
            margin: 0 auto;
            padding: 0;
        }
        &_text{
            max-width: 960px;
            margin: 0 auto;
        }
        &_steps{
            display: flex;
            flex-flow: wrap;
            justify-content: space-between;
            padding: 80px 60px 100px 60px;
        }
    }

    &__tab{
        position: absolute;
        width: 100%;
        left: 0;
        visibility: hidden;
        &_active{
            visibility: visible;
        }
    }

    
}