mixin section_0()
    section.section.section_main
        +slider_0()
        .section__inner.section__inner_main
            .section__box.section__box_main
                +order()
        .section__dots