mixin section_1()
    section.section.section_services
        .section__inner
            +title('H1 заголовок страницы')
            .section__box.section__box_services
                +preview('/assets/img/service_1.jpg','Услуги электроизмерительной лаборатории')
                +preview('/assets/img/service_2.jpg','Услуги электроизмерительной лаборатории')
                +preview('/assets/img/service_3.jpg','Услуги электроизмерительной лаборатории')
                +preview('/assets/img/service_4.jpg','Услуги электроизмерительной лаборатории')
                +preview('/assets/img/service_5.jpg','Услуги электроизмерительной лаборатории')
                +preview('/assets/img/service_6.jpg','Услуги электроизмерительной лаборатории')