mixin whatsapp(cl,img)
    if img
        a.whatsapp.lazy(class= cl href="/" data-src="/assets/img/wap_footer.svg") +7(900)000-00-00 (w)
    else
        a.whatsapp(class= cl href="/") +7(900)000-00-00 (w)