.nav-side {
    width: 100%;
    background-color: @sidebar;
    border-radius: 5px;
    padding: 20px 0;

    

    &_level {
        &_1 {

            @media @768,
            @320 {
                border: 1px solid @grey;
                border-radius: 5px;
                padding: 0;
                min-height: 60px;

                display: flex;
                flex-direction: column;
                padding: 13px 0 0 0;

                >.nav-side__item:first-child{
                    padding: 0 25px;

                    a{
                        min-height: 34px;
                        display: flex;
                        align-items: center;
                    }
                }
                
            }
            

        }

        &_2 {
            padding: 10px 15px;
            display: none;

            @media @768,
            @320 {
                position: unset;
            }
        }
    }

    &_active {
        display: block;
    }


    &__item {
        margin-bottom: 10px;

        &_group {

            padding: 8px 25px;
            margin: 0;

            &>a:not(.nav-side__link_group_active) {
                .rem(16);
                font-weight: normal;
                color: @bk;
                position: relative;

                &:hover,
                &:focus,
                &:active {
                    color: @red;
                }

                @media @320{
                    .rem(14);
                }
            }
            &:last-child{
                @media @768, @320{
                    padding-bottom: 22px;
                }
            }

        }

        &_group:not(:last-of-type) {
            border-bottom: 1px solid @line;

            @media @768,
            @320 {
                border: none;
            }
        }
    }

    &__link {

        .rem(14);
        color: @grey;

        display: flex;
        width: 100%;

        &:hover,
        &:focus,
        &:active {
            color: @bk;
        }

        &_group {
            .rem(16);
            font-weight: normal;
            color: @bk;
            position: relative;

            &:hover,
            &:focus,
            &:active {
                color: @red;
            }

            @media @320 {
                .rem(14);
               
            }

            &:before {
                content: '';
                display: block;
                width: 12px;
                height: 12px;
                background-image: url(/assets/img/arrow_down.svg);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center center;

                position: absolute;
                top: 10px;
                right: 0;
                @media @768,@320{
                    top: 12px;
                }
            }

            &_active {
                color: @red;

                &:before {
                    background-image: url(/assets/img/arrow_up.svg);
                }
            }

            &_invert {
                
                &:before {
                    background-image: url(/assets/img/arrow_down.svg);
                }
            }
        }

        &_active {
            color: @bk;
        }




    }


}