mixin nav_side_1()
        ul.nav-side
                li.nav-side__item.nav-side__item_group
                    a(href="/").nav-side__link.nav-side__link_group.nav-side__link_group_active Команда

                    ul.nav-side.nav-side_level_2.nav-side_active
                        li.nav-side__item
                            a(href="/").nav-side__link Подкатегория
                        li.nav-side__item
                            a(href="/").nav-side__link Подкатегория
                        

                li.nav-side__item.nav-side__item_group
                    a(href="/").nav-side__link Оборудование
                li.nav-side__item.nav-side__item_group
                    a(href="/").nav-side__link Вопросы-ответы
                li.nav-side__item.nav-side__item_group
                    a(href="/").nav-side__link Выполненные работы
                li.nav-side__item.nav-side__item_group
                    a(href="/").nav-side__link Документация
                li.nav-side__item.nav-side__item_group
                    a(href="/").nav-side__link Лицензии
                
