mixin nav_side()
        ul.nav-side.nav-side_level_1
                li.nav-side__item.nav-side__item_group
                    a(href="/").nav-side__link.nav-side__link_group Услуги электроизмерительной лаборатории

                    ul.nav-side.nav-side_level_2
                        li.nav-side__item
                            a(href="/").nav-side__link Испытания и измерения выключателей нагрузки
                        li.nav-side__item
                            a(href="/").nav-side__link Протоколы и технический отчет
                        li.nav-side__item
                            a(href="/").nav-side__link Замер сопротивления изоляции
                        li.nav-side__item
                            a(href="/").nav-side__link.nav-side__link_active Замер сопротивления петли фаза-ноль
                        li.nav-side__item
                            a(href="/").nav-side__link Замер металлосвязи
                        li.nav-side__item
                            a(href="/").nav-side__link Проверка устройств защитного отключения
                        li.nav-side__item
                            a(href="/").nav-side__link Прогрузка автоматических выключателей
                        li.nav-side__item
                            a(href="/").nav-side__link Проверка систем молниезащиты
                        li.nav-side__item
                            a(href="/").nav-side__link Измерение сопротивления контура заземления

                li.nav-side__item.nav-side__item_group
                    a(href="/").nav-side__link.nav-side__link_group Электромонтажные работы

                    ul.nav-side.nav-side_level_2
                        li.nav-side__item
                            a(href="/").nav-side__link Подключение электричества
                        li.nav-side__item
                            a(href="/").nav-side__link Подключение электричества к частному дому
                        li.nav-side__item
                            a(href="/").nav-side__link Сборка электрощитов
                        li.nav-side__item
                            a(href="/").nav-side__link Сборка щитов автоматики
                        li.nav-side__item
                            a(href="/").nav-side__link Исправление ошибок после электромонтажа
                        li.nav-side__item
                            a(href="/").nav-side__link Монтаж заземления
                        li.nav-side__item
                            a(href="/").nav-side__link Монтаж молниезащиты
                        li.nav-side__item
                            a(href="/").nav-side__link Монтаж электрооборудования подстанций
                        li.nav-side__item
                            a(href="/").nav-side__link Промышленный электромонтаж
                        li.nav-side__item
                            a(href="/").nav-side__link Монтаж кабельных линий
                        li.nav-side__item
                            a(href="/").nav-side__link Монтаж воздушно кабельных линий
                        li.nav-side__item
                            a(href="/").nav-side__link Ремонт кабельных линий
                        li.nav-side__item
                            a(href="/").nav-side__link Прокладка кабеля в земле

                li.nav-side__item.nav-side__item_group
                    a(href="/").nav-side__link.nav-side__link_group.nav-side__link_group_active Сервисное обслуживание электрооборудования

                    ul.nav-side.nav-side_level_2
                        li.nav-side__item
                            a(href="/").nav-side__link Электрооборудования зданий и сооружений
                        li.nav-side__item
                            a(href="/").nav-side__link Трансформаторных подстанций
                        li.nav-side__item
                            a(href="/").nav-side__link Источников бесперебойного питания (ИБП)
                        li.nav-side__item
                            a(href="/").nav-side__link Дизель-генераторных установок
                        li.nav-side__item
                            a(href="/").nav-side__link Устройств компенсации реактивной мощности
                        

                li.nav-side__item.nav-side__item_group
                    a(href="/").nav-side__link.nav-side__link_group Энергетическое обследование

                    ul.nav-side.nav-side_level_2
                        li.nav-side__item
                            a(href="/").nav-side__link Промышленных предприятий
                        li.nav-side__item
                            a(href="/").nav-side__link Административных зданий

                li.nav-side__item.nav-side__item_group
                    a(href="/").nav-side__link Повышение энергетической эффективности


                li.nav-side__item.nav-side__item_group
                    a(href="/").nav-side__link.nav-side__link_group Тепловизионное обследование

                    ul.nav-side.nav-side_level_2
                        li.nav-side__item
                            a(href="/").nav-side__link Жилого дома
                        li.nav-side__item
                            a(href="/").nav-side__link Квартиры
                        li.nav-side__item
                            a(href="/").nav-side__link Зданий и сооружений
                        li.nav-side__item
                            a(href="/").nav-side__link Электрооборудования
                        
