mixin nav_footer_1()
    .nav-footer
        a(href="/").nav-footer__title О нас
        a(href="/").nav-footer__item О компании
        a(href="/").nav-footer__item Оборудование
        a(href="/").nav-footer__item Выполненные работы
        a(href="/").nav-footer__item Вопрос-ответ
        a(href="/").nav-footer__item Документация
        a(href="/").nav-footer__item Лицензии