mixin nav_footer()

    .nav-footer
        a(href="/").nav-footer__title Услуги
        a(href="/").nav-footer__item Услуги электроизмерительной лаборатории

        a(href="/").nav-footer__item Электромонтажные работы

        a(href="/").nav-footer__item Сервисное обслуживание электрооборудования

        a(href="/").nav-footer__item Энергетическое обследование

        a(href="/").nav-footer__item Разработка программы повышения энергетической эффективности

        a(href="/").nav-footer__item Тепловизионное обследование