mixin calc_button()
    .calc-work.lazy(data-src="/assets/img/calc_button.png")
        .calc-work__inner
            .calc-work__title Рассчитать онлайн стоимость работ
            +button('Онлайн-калькулятор','button_red','','/')