.calc-work{
    background-color: @bl;
    background-repeat: no-repeat;
    max-width: 960px;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 5px;
    &__inner{
        width: 60%;
        display: flex;
        align-items: center;
    }
    &__title{
        .rem(24);
        font-weight: 500;
        color: @wt;
        max-width: 280px;
    }
}