.worktime{
    .rem(14);
    color: @bk;
    span{
        color: @grey;
        margin-right: 5px;
    }

    &_contacts{
        max-width: 142px;
        .rem(16);
        span{
            color: @bk;
        }
        @media @320{
            .rem(14);
        }
    }
    &_side{
        width: 100%;
        .rem(16);
        span{
            color: @bk;
        }
    }

    &__item{
        display: flex;
        justify-content: space-between;
        margin-bottom: 4px;
    }
}