mixin order()
    .order
        .order__title Заявка на консультацию
        form(action="/").order__form
            input.order__input.order__input_error(type="text" placeholder="Ваше имя")
            input.order__input.order__input_phone(type="tel")
            +button('Заказать консультацию','button_red button_submit','submit','')