mixin order()
    .order
        form(action="/").order__form
            input(type="text").order__input
            input(type="text").order__input
            +button('Заказать консультацию','button_red button_submit','submit','')