
include ../blocks/action_list/action_list
include ../blocks/action_preview/action_preview
include ../blocks/address/address
include ../blocks/advantage/advantage
include ../blocks/author/author
include ../blocks/bread/bread
include ../blocks/burger/burger
include ../blocks/button/button


include ../blocks/calc/calc
include ../blocks/calc_input/calc_input


include ../blocks/calc_button/calc_button
include ../blocks/contact_box/contact_box
include ../blocks/email/email

include ../blocks/feedback/feedback
include ../blocks/feedback/feedback_1
include ../blocks/feedback/feedback_offer

include ../blocks/footer/footer
include ../blocks/foto/foto
include ../blocks/header/header
include ../blocks/logo/logo
include ../blocks/map/map
include ../blocks/nav/nav
include ../blocks/nav_footer/nav_footer
include ../blocks/nav_footer/nav_footer_1
include ../blocks/nav_side/nav_side
include ../blocks/nav_side/nav_side_1
include ../blocks/offer/offer
include ../blocks/order/order
include ../blocks/phone/phone
include ../blocks/popup/popup
include ../blocks/preview/preview
include ../blocks/questions/questions

include ../blocks/search/search

include ../blocks/section/section_0
include ../blocks/section/section_1
include ../blocks/section/section_2
include ../blocks/section/section_3
include ../blocks/section/section_4
include ../blocks/section/section_5
include ../blocks/section/section_6
include ../blocks/section/section_7
include ../blocks/section/section_8
include ../blocks/section/section_9
include ../blocks/section/section_10
include ../blocks/section/section_11
include ../blocks/section/section_12






include ../blocks/sert/sert
include ../blocks/sidebar/sidebar

include ../blocks/slider/slider_0
include ../blocks/slider/slider_1
include ../blocks/slider/slider_2
include ../blocks/slider/slider_3
include ../blocks/slider/slider_4
include ../blocks/slider/slider_5
include ../blocks/slider/slider_6
include ../blocks/slider/slider_7

include ../blocks/step/step
include ../blocks/title/title
include ../blocks/subtitle/subtitle
include ../blocks/table/table
include ../blocks/table/table_1
include ../blocks/table/table_calc
include ../blocks/table/table_calc_1
include ../blocks/tabs/tabs
include ../blocks/whatsapp/whatsapp
include ../blocks/work_preview/work_preview
include ../blocks/worker/worker
include ../blocks/worktime/worktime

block variables

html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{title}
        meta(name="description", content=description)

        include ../includes/styles


    body(class=pageClass)
        +header()
        +nav()
        block content
        //- +footer()
        //- +popup()
        include ../includes/scripts