
include ../blocks/address/address
include ../blocks/advantage/advantage
include ../blocks/burger/burger
include ../blocks/button/button
include ../blocks/calc_button/calc_button
include ../blocks/contact_box/contact_box
include ../blocks/email/email
include ../blocks/feedback/feedback
include ../blocks/footer/footer
include ../blocks/header/header
include ../blocks/logo/logo
include ../blocks/map/map
include ../blocks/nav/nav
include ../blocks/nav_footer/nav_footer
include ../blocks/nav_footer/nav_footer_1
include ../blocks/order/order
include ../blocks/phone/phone
include ../blocks/preview/preview

include ../blocks/search/search

include ../blocks/section/section_0
include ../blocks/section/section_1
include ../blocks/section/section_2
include ../blocks/section/section_3
include ../blocks/section/section_4
include ../blocks/section/section_5
include ../blocks/section/section_6
include ../blocks/section/section_7
include ../blocks/section/section_8



include ../blocks/sert/sert

include ../blocks/slider/slider_0
include ../blocks/slider/slider_1
include ../blocks/slider/slider_2
include ../blocks/slider/slider_3
include ../blocks/slider/slider_4

include ../blocks/step/step
include ../blocks/title/title
include ../blocks/subtitle/subtitle
include ../blocks/tabs/tabs
include ../blocks/whatsapp/whatsapp
include ../blocks/worker/worker
include ../blocks/worktime/worktime

block variables

html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{title}
        meta(name="description", content=description)

        include ../includes/styles


    body(class=pageClass)
        +header()
        block content
        +footer()

        include ../includes/scripts