mixin author()
    .author
        .author__image.lazy(data-src="/assets/img/author.png")
        .author__content
            .author__job Автор статьи:
            .author__name Константинопольский Александр Владимирович
            .author__exp Стаж: 5 лет