mixin header()
	header.header
		.header__inner
			+burger()
			.header__box
				+logo('/assets/img/logo.png','','logo_header')
			.header__box
				+address()
				+worktime()
				+search()
			.header__box
				.header__call
					+phone()
					a.header__callback(href="javascript:;"  data-fancybox="" data-src="#popup_form") Позвоните мне
					//- a.header__callback(href="javascript:;"  data-fancybox="" data-src="#popup_thank") Позвоните мне
				+button('Калькулятор','button_red','','/')