.header{
    width: 100%;
    
    &_fixed{
        position: fixed;
        box-shadow: @box_fixed;
        overflow: auto;
        max-height: 100vh;
        z-index: 1000;
        background-color: @wt;
    }

    &__inner{
        height: 151px;
        width: 100%;
        max-width: 1170px;
        margin: 0 auto;
        padding: 22px 0;
        background-color: @wt;
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
        
        @media @1024,@768{
            padding: 20px;
        }
        @media @320{
            position: relative;
            padding: 10px 17px;
            height: 190px;
        }
        &_fixed{
            height: 100px;
            @media @768{
                height: 151px;
            }
            @media @320{
                height: unset;
            }
        }

       

    }
    &__box{
        width: calc(33% - 25px);
        display: flex;
        flex-flow: wrap;
        align-items: center;
        justify-content: flex-start;

        @media @320{
            width: 100%;
            min-height: 50px;
            height: unset;
            justify-content: space-between;
        }
        
        &:last-child{
            @media @1024,@768{
                justify-content: flex-end;
            }
        }
        &_fixed{
            width: auto;
            @media @768{
                width: calc(33% - 25px);
            }
            @media @320{
                height: 45px;
            }
            &:not(:nth-child(2)){
                @media @320{
                    display: none;
                }
            }
        }
    }
    &__call{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 22px;
        @media @320{
            align-items: flex-start;
        }
        @media @300{
            margin-right: 0;
        }
    }
    &__callback{
        margin-top: 3px;
        background-image: url(/assets/img/phone.svg);
        background-repeat: no-repeat;
        background-position: 0 center;
        padding: 0 0 0 20px;
        .rem(14);
        font-weight: 500;
        color: @bl;
        position: relative;


        &:hover,&:active,&:focus{
            color: @red;
            &:before{
                display: none;
            }
        }
        &:before{
            position: absolute;
            content:'';
            display: block;
            width: calc(100% - 20px);
            height: 2px;
            background-color: @bl;
            bottom: -1px;
            right: 0;
           
        }
    }
}
