mixin action_list()
    .action-list
        .action-list__title Акции

        a(href="/").action-list__item
            .action-list__image.lazy(data-src="/assets/img/action.jpg")
            .action-list__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus numquam natus fugit.
        a(href="/").action-list__item
            .action-list__image.lazy(data-src="/assets/img/action.jpg")
            .action-list__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus numquam natus fugit.
        a(href="/").action-list__item
            .action-list__image.lazy(data-src="/assets/img/action.jpg")
            .action-list__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus numquam natus fugit.