mixin nav()
    .nav__wrapper
        ul.nav
            li.nav__item.nav__item_group
                a(href="/").nav__link.nav__link_group О нас
                ul.nav.nav_level_2
                    li.nav__item
                        a(href="/").nav__link Наша команда
                    li.nav__item
                        a(href="/").nav__link Оборудование
                    li.nav__item
                        a(href="/").nav__link Выполненнные работы
                    li.nav__item
                        a(href="/").nav__link Вопрос-ответ
                    li.nav__item
                        a(href="/").nav__link Документация
                    li.nav__item
                        a(href="/").nav__link Лицензии
                    
                
            li.nav__item.nav__item_group
                a(href="/").nav__link.nav__link_group Услуги

                ul.nav.nav_level_2
                    li.nav__item.nav__item_group
                        a(href="/").nav__link.nav__link_group Услуги электроизмерительной лаборатории

                        ul.nav.nav_level_3
                            li.nav__item
                                a(href="/").nav__link Испытания и измерения выключателей нагрузки
                            li.nav__item
                                a(href="/").nav__link Протоколы и технический отчет
                            li.nav__item
                                a(href="/").nav__link Замер сопротивления изоляции
                            li.nav__item
                                a(href="/").nav__link Замер сопротивления петли фаза-ноль
                            li.nav__item
                                a(href="/").nav__link Замер металлосвязи
                            li.nav__item
                                a(href="/").nav__link Проверка устройств защитного отключения
                            li.nav__item
                                a(href="/").nav__link Прогрузка автоматических выключателей
                            li.nav__item
                                a(href="/").nav__link Проверка систем молниезащиты
                            li.nav__item
                                a(href="/").nav__link Измерение сопротивления контура заземления

                    li.nav__item.nav__item_group
                        a(href="/").nav__link.nav__link_group Электромонтажные работы

                        ul.nav.nav_level_3
                            li.nav__item
                                a(href="/").nav__link Подключение электричества
                            li.nav__item
                                a(href="/").nav__link Подключение электричества к частному дому
                            li.nav__item
                                a(href="/").nav__link Сборка электрощитов
                            li.nav__item
                                a(href="/").nav__link Сборка щитов автоматики
                            li.nav__item
                                a(href="/").nav__link Исправление ошибок после электромонтажа
                            li.nav__item
                                a(href="/").nav__link Монтаж заземления
                            li.nav__item
                                a(href="/").nav__link Монтаж молниезащиты
                            li.nav__item
                                a(href="/").nav__link Монтаж электрооборудования подстанций
                            li.nav__item
                                a(href="/").nav__link Промышленный электромонтаж
                            li.nav__item
                                a(href="/").nav__link Монтаж кабельных линий
                            li.nav__item
                                a(href="/").nav__link Монтаж воздушно кабельных линий
                            li.nav__item
                                a(href="/").nav__link Ремонт кабельных линий
                            li.nav__item
                                a(href="/").nav__link Прокладка кабеля в земле

                    li.nav__item.nav__item_group
                        a(href="/").nav__link.nav__link_group Сервисное обслуживание электрооборудования

                        ul.nav.nav_level_3
                            li.nav__item
                                a(href="/").nav__link Обслуживание электрооборудования зданий и сооружений
                            li.nav__item
                                a(href="/").nav__link Обслуживание трансформаторных подстанций
                            li.nav__item
                                a(href="/").nav__link Обслуживание источников бесперебойного питания (ИБП)
                            li.nav__item
                                a(href="/").nav__link Обслуживание дизель-генераторных установок
                            li.nav__item
                                a(href="/").nav__link Обслуживание устройств компенсации реактивной мощности
                            

                    li.nav__item.nav__item_group
                        a(href="/").nav__link.nav__link_group Энергетическое обследование

                        ul.nav.nav_level_3
                            li.nav__item
                                a(href="/").nav__link Энергетическое обследование промышленных предприятий
                            li.nav__item
                                a(href="/").nav__link Энергетическое обследование административных зданий

                    li.nav__item.nav__item_group
                        a(href="/").nav__link.nav__link_group Повышение энергетической эффективности


                    li.nav__item.nav__item_group
                        a(href="/").nav__link.nav__link_group Тепловизионное обследование

                        ul.nav.nav_level_3
                            li.nav__item
                                a(href="/").nav__link Тепловизионное обследование жилого дома
                            li.nav__item
                                a(href="/").nav__link Тепловизионное обследование квартиры
                            li.nav__item
                                a(href="/").nav__link Тепловизионное обследование зданий и сооружений
                            li.nav__item
                                a(href="/").nav__link Тепловизионное обследование электрооборудования
                           

                    

            li.nav__item.nav__item_group
                a(href="/").nav__link.nav__link_group Цены
                ul.nav.nav_level_2
                    li.nav__item
                        a(href="/").nav__link Акции

            li.nav__item
                a(href="/").nav__link Лицензии
            li.nav__item
                a(href="/").nav__link Отзывы
            li.nav__item
                a(href="/").nav__link Статьи
            li.nav__item
                a(href="/").nav__link Контакты