mixin calc_input(value, cl,cl1)
    .calc-input
        .calc-input__btn.calc-input__btn_minus(class= cl1) &ndash;
        input.calc-input__value(type="text" value= value class= cl)
        .calc-input__btn.calc-input__btn_plus(class= cl1) +